# get from https://my.slack.com/apps/A0F7YS25R-bots
API_TOKEN='xoxb-**********-************-************************'
DEFAULT_REPLY = 'Hi :raising_hand: I\'m Slackbot'

PLUGINS = [
    'plugin',
    'aws_plugin',
    'github_plugin',
]

OPENWEATHERMAP_APPID = '********************************'

AWS_ACCESS_KEY = 'set your `aws_access_key_id` described in ~/.aws/credential'
AWS_SECRET_KEY = 'set your `aws_secret_access_key` described in ~/.aws/credits.'

GITHUB_TOKEN = '****************************************'
